*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body{
    font-family: "didot", serif;
}
nav{
    background-color: #6554AF;
    height: 80px;
    width: 100%;
}
label.logo{
    color: whitesmoke;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 100px;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:whitesmoke;
    text-transform: uppercase;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: #9575DE;
    transition: .5s;
}
h1{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 30px;
}
footer{
    background-color: #6554AF;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    font-size: 17px;
}
.Container {
    display: flex;
    column-gap: 2rem;
    justify-content: space-around;
    padding-bottom: 4rem;
  }
  .Box1,.Box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2rem;
  }
  .div1 {
    height: 25rem;
    width: 20rem;
    margin: 2rem;
    background-color: #FFD0D0;
    border-radius: 2rem;
  }
  .div2 {
    height: 25rem;
    width: 20rem;
    margin: 2rem;
    background-color: #FFBDF7;
    border-radius: 2rem;
  } .div3 {
    height: 25rem;
    width: 20rem;
    margin: 2rem;
    background-color: #FFBDF7;
    border-radius: 2rem;
  }
  .div4 {
    height: 25rem;
    width: 20rem;
    margin: 2rem;
    background-color: #FFD0D0;
    border-radius: 2rem;
  }
  .div5 {
    height: 56rem;
    width: 20rem;
    margin: 2rem;
    background-color: #E1AEFF;
    border-radius: 2rem;
  }

