/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
/* nav css */
nav {
  display: flex;
  background-color: white;
  justify-content: space-around;

}
.Nav_links{
  margin: auto;
}
.Nav_links ul {
  display: flex;
  list-style: none;
  column-gap: 6rem;
  padding: 2rem;
  ;
}

